# You probably want to change the [user] section here since you are not me.
[user]
	name = James Kelso
	email = james.w.kelso@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[alias]
	
	#Show all git aliases
	alias = config --get-regexp 'alias.*'
	
	#Create a changelog out of commits since branch was created
	changelog = !sh -c \"git log --pretty=%s --first-parent\"
	
	#Prune branches not on origin
	prunebranches = !sh -c \"git remote prune origin\"
	
	#Prune tags not on origin (also updates tags in case an update was pushed by someone else
	prunetags = !git tag -l | xargs git tag -d && git fetch
	
	#Update all branches
	pullall = !git pull --rebase && B=$(git rev-parse --abbrev-ref HEAD) && git branch -r | sed -e 's/origin\\///g' | grep -v $B | grep -v HEAD | xargs -L 1 -I %  sh -c "'{ git checkout %; git pull --rebase; }'" && git checkout $B
[color]
        ui = true
[branch]
        autosetuprebase = always

# This is my MergeTool and DiffTool setup. I use P4Merge. If you don't, you should update this.
# You can get P4Merge at http://info.perforce.com/free.html
[merge]
	keepBackup = false
	tool = P4
[mergetool "P4"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$PWD/$BASE\"" "\"$PWD/$REMOTE\"" "\"$PWD/$LOCAL\"" "\"$PWD/$MERGED\""
	keepTemporaries = false
	trustExitCode = true
	keepBackup = false
[diff]
	tool = P4
[difftool "P4"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
[difftool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
